

body {
    background-repeat: no-repeat;
    font-family: 'M PLUS 1p', sans-serif;
}

h1 {
    font-family: 'Exo 2', sans-serif;
    color: beige;
    text-align: center;
}

footer {
    margin-bottom: 50px;
}

footer p {
    text-align: center;
    color: beige;
}