body {
    background-repeat: no-repeat;
    font-family: 'M PLUS 1p', sans-serif;
    margin-top: 150px;
}

h1, h3, h4 {
    font-family: 'Exo 2', sans-serif;
    color: #23416C;
    text-align: center;
    font-size: 200%;
}

#liftoff {
    box-sizing: border-box;
    background-color: #086788;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

footer {
    color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}